body {
    display: flex;
    background-color: #9747FF;
    justify-content: center;
}

h1,h2,h3,h4,h5,h6,p,span {
    font-family: "Inter", sans-serif;
    color: #fff
}

p {
    margin: 0px;
    line-height: 150%;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh
}

.primary-btn {
    color: #000;
    background-color: #FBFF83;
    font-weight: 600;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #E2E576;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.breadcrumb-item {
    font-size: 18px;
    font-weight: 600;
}

.song-list {
    padding: 60px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

.song-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    max-width: 600px;

    padding: 8px;
    border-bottom: #ffffff85 1px solid;
}

.song-item:hover {
    background-color: #FFFFFF1A;
}

.song-info {
    display: flex;
    gap: 12px;
}

.song-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-cover {
    width: 46px;
    height: 46px;
    border-radius: 6px;
    border-style: solid 1px;
    border-color: #FFFFFF1F;
}

.add-icon {
    width: 26px;
    height: 26px;
}

.song-meta {
    gap: 6px;
}

.song-meta p span {
    margin: 0;
    line-height: 1.2;
}

.song-meta .song-name {
    font-size: 16px;
    font-weight: 600;
}

.song-meta .song-artist {
    font-size: 14px;
    font-weight: 500;
}

/* Checkout Page Styles */

.row-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 80px;
}

.summary-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 466px;
    width: 100%;
}

.modal-overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;


}
.modal {
   display: flex;
   width: 100%; 
   max-width: 880px;
   height: 100%;
   max-height: 580px;
   margin-bottom: 80px;
   flex-direction: column;
   align-items: stretch;
   border-radius: 32px;
   border: 1px solid rgba(255, 255, 255, 0.15);
   background: rgba(0, 0, 0, 0.50);
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 32px 10px rgba(0, 0, 0, 0.16);

}

.search-input {
    background-color: transparent;
    background-position:left top;
    padding-left: 44px;
    padding-right: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #fff;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    border-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
input::placeholder {
    color: #E7D9FA
}
input:focus {
    outline: 0px;
}

.search-icon {
    width: 22px;
    position: absolute;
    top: 24px;
    left: 14px;
    right: auto;
}

.search-container {
    display: inline-block;
    position: relative;
    width: 100%;
    align-items: stretch;
    max-width: 900px;
}
form {
    align-items: stretch;
}

.search {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
}

.content-inner {
    overflow: auto;
}


.floating-queue {
    display: flex;
    position: absolute;
    bottom: 40px;
    height: 70px;
    width: 80%;
    max-width: 980px;
    background: rgba(0, 0, 0, 0.50);
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}

.queue-list {
    display: flex;
    flex: 1 0 0;
}

.summary {
    display: flex;
    align-items: stretch;
    align-self: stretch;
    gap: 8px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}