body {
  display: flex;
  background-color: #9747ff;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  padding: 32px;
  font-family: "Inter", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Inter", sans-serif;
  color: #fff;
  margin: 0px;
}

p {
  margin: 0px;
  line-height: 150%;
}

h2 {
    font-size: 18px;
    font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.primary-btn {
  color: #000;
  background-color: #fbff83;
  font-weight: 600;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #e2e576;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.breadcrumb-item {
  font-size: 18px;
  font-weight: 600;
}

.song-header {
  display: inline-grid;
  grid-template-columns: 3fr 4fr 1fr 50px;
  align-self: center;
  width: 100%;
  max-width: 940px;
  padding: 0px 8px 8px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
}
.song-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 8px;
  gap: 1px;
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
}

.song-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  max-width: 600px;

  padding: 8px;
  border-bottom: #ffffff85 1px solid;
}

.song-item:hover {
  background-color: #ffffff1a;
}

.song-info {
  display: flex;
  gap: 12px;
}

.song-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-cover {
  width: 46px;
  height: 46px;
  border-radius: 6px;
  border-style: solid 1px;
  border-color: #ffffff1f;
}

.add-icon {
  width: 26px;
  height: 26px;
}

.song-meta {
  gap: 6px;
}

.song-meta p span {
  margin: 0;
  line-height: 1.2;
}

.song-meta .song-name {
  font-size: 16px;
  font-weight: 600;
}

.song-meta .song-artist {
  font-size: 14px;
  font-weight: 500;
}

.search-btn {
  align-self: center;
  cursor: text;
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 16px;
  gap: 10px;
  border-radius: 99px;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.search-btn p {
  font-size: 18px;
}

.modal-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
}

.modal {
  display: flex;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 580px;
  margin-bottom: 80px;
  flex-direction: column;
  align-items: stretch;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(60, 28, 102, 0.85);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 32px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.search-input {
  background-color: transparent;
  background-position: left top;
  padding-left: 44px;
  padding-right: 14px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
input::placeholder {
  color: #e7d9fa;
}
input:focus {
  outline: 0px;
}

.btn-search-icon {
  width: 24px;
  height: 24px;
}

.search-icon {
  width: 22px;
  position: absolute;
  top: 24px;
  left: 14px;
  right: auto;
}

.search-container {
  display: inline-block;
  position: relative;
  width: 100%;
  align-items: stretch;
  max-width: 900px;
}
form {
  align-items: stretch;
}

.search {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
}

.content-inner {
  overflow: auto;
}

.floating-queue {
  display: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  height: 70px;
  width: 80%;
  max-width: 980px;
  background: rgba(60, 28, 102, 0.85);
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(4px);
  z-index: 4;
}

.queue-list {
  display: grid;
  flex: 1 0 0;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.queue-item {
  width: 100%;
}

.summary {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  gap: 8px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* Genre Item */

.genre-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 940px;
  align-self: center;
  margin: 80px 0px 80px 0px;
}

#genreWrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.genre-card {
  display: flex;
  align-self: stretch;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.genre-card:hover {
  background: rgba(255, 255, 255, 0.12);
}

.genre-card.active {
  background: rgba(251, 255, 131, 0.4);
}

.image-wrapper {
  position: relative;
  display: flex;
  align-self: stretch;
  height: 100px;
}

.genre-image1 {
  width: 52px;
  height: 52px;
  transform: rotate(-20deg);
  position: absolute;
  bottom: 2px;
  left: 2px;
  border-radius: 4px;
  box-shadow: 1px -1px 2px 0 rgba(0, 0, 0, 0.45);
}

.genre-image2 {
  width: 52px;
  height: 52px;
  transform: rotate(20deg);
  position: absolute;
  bottom: 12px;
  left: 32px;
  border-radius: 4px;
  box-shadow: 1px -1px 2px 0 rgba(0, 0, 0, 0.45);
}

.genre-image3 {
  width: 52px;
  height: 52px;
  transform: rotate(-20deg);
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 4px;
  box-shadow: 1px -1px 2px 0 rgba(0, 0, 0, 0.45);
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.ph-plus-circle {
  justify-self: end;
  font-size: 30px;
  color: #fbfe81;
  transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.genre-card.active .ph-plus-circle {
  transform: rotate(-45deg);
}

.g-title {
  font-size: 16px;
  font-weight: 600;
}

.g-data {
  font-size: 14px;
  font-weight: 400;
}

.song-wrapper {
  cursor: pointer;
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 50px;
  align-items: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 12px;
}

.song-wrapper:hover {
  background-color: #ffffff1a;
}

.meta-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cover {
  width: 46px;
  height: 46px;
  border-radius: 6px;
  border-style: solid 1px;
  border-color: #ffffff1f;
}

.song-wrapper .text-wrapper {
  align-items: flex-start;
}

.song-wrapper p {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  line-height: 1.4;
  font-size: 14px;
}

.song-wrapper .title {
  color: #fff;
  font-size: 16px;
}

.ph-plus-circle {
  justify-self: end;
  font-size: 30px;
  color: #fbfe81;
  transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.song-wrapper.active {
  background: rgba(251, 255, 131, 0.2);
}
.song-wrapper.active .ph-plus-circle {
  transform: rotate(-45deg);
}

/* Checkout Page Styles START */

.row-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 60px;
}

.summary-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 466px;
  width: 100%;
}

.pay-column{
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    max-width: 380px;
}

.pay-column,.pay-column h2 {
    margin-bottom: 16px;
} h2 {
    margin-bottom: 16px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.15);
    padding: 12px 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .option:hover {
    background: rgba(255, 255, 255, 0.25);
  }

  .option.active {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.25);
  }


.option img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
}

input[type="radio"] {
    accent-color: rgb(239, 35, 195);
    margin-right: 8px;
  }


.note {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #fff;
}

.divider-text {
    text-align: center;
    opacity: 0.8;
    margin: 8px 0;
    font-size: 12px;
    font-weight: 600;
  }


.primary-btn#payBtn {
    align-self: stretch;
    width: 100%;
}

.queue-summary {
    width: 100%
}

.song-summary {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    border-top: 2px solid rgba(255, 255, 255, 0.40);
    width: 100%;
    gap: 12px;
}

.inline-text {
    display: flex;
    justify-content: space-between;
}

#oldprice {
    display: none;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.80);
}

.savings {
    display: none;
    padding: 8px;
    border-radius: 4px;
    background: rgba(50, 240, 72, 0.30);
    justify-self: end;
}

.savings p {
    font-size: 12px;
    font-weight: 600;
    color: #32F048;
}

.upsell {
    display: flex;
    align-items: start;
    gap: 12px
}

.upsell-msg {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    padding: 16px;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
}

.upsell-msg p {
    font-size: 14px;
    font-weight: 600;
}

.upsell-msg .primary-btn {
    font-size: 14px;
    padding: 12px 24px 12px 24px;
    text-wrap: nowrap;
    text-decoration: none;
}